@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-slate-100 font-sans antialiased selection:bg-brand-500 selection:text-white;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #080c14;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
